In [58]:
import pandas as pa
%matplotlib
import matplotlib.pyplot as plt
import numpy as np

Using matplotlib backend: TkAgg

In [59]:
data = pa.DataFrame({"Frais publicitaires": [2.6,2.6,2.4,1.5,0.9,3.0,2.7,2.3,1.7,1.9], "Chiffre d'affaires":[220,280,250,170,150,340,310,210,180,190] })
data

   Frais publicitaires  Chiffre d'affaires
0                  2.6                 220
1                  2.6                 280
2                  2.4                 250
3                  1.5                 170
4                  0.9                 150
5                  3.0                 340
6                  2.7                 310
7                  2.3                 210
8                  1.7                 180
9                  1.9                 190

In [65]:
pa.DataFrame(data).describe()

       Frais publicitaires  Chiffre d'affaires
count            10.000000           10.000000
mean              2.160000          230.000000
std               0.646701           63.245553
min               0.900000          150.000000
25%               1.750000          182.500000
50%               2.350000          215.000000
75%               2.600000          272.500000
max               3.000000          340.000000

In [95]:

y = data["Chiffre d'affaires"]
x = data['Frais publicitaires']

from scipy import stats
slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

##plt.scatter(x, y)
coef_corr = np.corrcoef(x, y)
print(coef_corr)
coef_determination_lin = pow(r_value, 2)
coef_determination_lin
p_value

[[1.         0.89375779]
 [0.89375779 1.        ]]

0.0004894341749604697

In [62]:
def predict(x):
    return slope * x + intercept

In [96]:
#On prédit à présent les valeurs de X:
fitline = predict(x)
fitline.head()
#Et on dessine le nuage ainsi que la ligne de régression :
plt.scatter(x, fitline,color='black',marker='x')
plt.scatter(x,y,color='red',marker='o')
plt.plot(x, fitline, c='m')

plt.show()
predict(400)